<main>
 <h1>Hello world</h1>
 <h2>second h</h2>
 <h3>third h</h3>   
<hr>
<div class="display-1">Hello word</div>
<div class="display-2">second h</div>
<div class="display-6">third h</div>
<hr>

<span class="text-muted display-1 ">tex muted</span>
<hr>
<button class="btn btn-secondary btn-sm" ><span class="display-1 text-uppercase">input text</span></button>
<br>
<a href="#" class="btn btn-primary">link</a>
<p class="text-primary text-uppercase">My text</p>
<br>
<button class="btn btn-outline-primary btn-lg">outline</button>

<br>
<div class="card">
    <div class="card-body">
        This is content
    </div>
</div>
</main>
