{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="row">
        <div class="col-12">
            <h2>{{title}}</h2>
            <p>{{discription.text}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ">
            {{#each buttons}}
            <div class="mt-3">
                <a href="{{href}}" class="btn btn-primary">
                    <h5>{{text}}</h5>
                </a>
            </div>

            {{/each}}

        </div>
    </div>
</main>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}