{{#with footer}}
	<footer>
		
	<div class="mb-3">
		{{#with social}}

			{{> link  text = email.text href =email.href blank=true }}

			{{> link text = phone.text href = phone.href blank=true }}

			{{> link text = linkedin.text href = linkedin.href blank=true noline = true}}

		{{/with}}
	</div>
	
	<div class="mb-3"><em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em></div>
	
	<div class="mb-3">
		<address>{{../header.name.address}}</address>
	</div>
	</footer>
	{{/with}}