<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            {{> link href ='/skills' text = 'Skills' line = true }}
        </li>
        <li class="breadcrumb-item">{{> link href ='/summary' text = 'Summary' line = true }}</li>
        <li class="breadcrumb-item">{{> link href = '/education' text = 'Education' line = true }}</li>
        <li class="breadcrumb-item">{{> link href = '/work' text = 'Work' line = true noline = true}}</li>
    </ol>
</nav>